
<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}

{% block content %}
<center>
    {% if product == None %}
   <div class="container border border-2 border-light shadow mt-5 p-5 w-50">

<h2 class="text-center text-light">Search Products</h2>
        <form method="POST">
            {% csrf_token %}
            <div class="mb-3">
                <input type="text" class="form-control" name="q">
                <input type="submit" class="btn btn-secondary">
            </div>
        </form>

    </div>
    {% else %}
   <div class="row">
                {% for i in product %}
                <div class="col-lg-4 col-md-6 item-entry mb-4">
                    <div class="products-single fix">
                        <div class="box-img-hover">
                            <div class="type-lb">
                                <p class="sale"></p>
                            </div>
                            <img src="{{i.image.url}}" class="img-fluid" height="200px" width="200px" alt="Image">
                            <div>

                                <a class="cart" href="{% url 'shop:product_details' i.id %}"></a>
                            </div>
                        </div>
                        <div>
                            <h4>{{i.name}}</h4>
                            <h5> {{i.price}}</h5>
                        </div>
                    </div></div>


       {% empty %}
       <h2 class="text-center">No Results found</h2>
        {% endfor %}
                </div>
{% endif %}

</center>

{% endblock %}




